body {
    background-color: lightgray;
}

$theme-colors: (
        "primary": #ce7aff,
        "secondary": #b319ff,
        "tertiary": #cc0685,
        "light": #ecc8ef,
        "dark": #42095e
);

@import "~bootstrap/scss/bootstrap";

.navLink {
    color: theme-color(secondary);
}

.navbar h2 {
    color: theme-color(light);
}
