body {
    background-color: lightgray;
}

$theme-colors: (
        "primary": #ce7aff,
        "secondary": #b319ff,
        "tertiary": #cc0685,
        "light": #ecc8ef,
        "dark": #42095e
);

@import "~bootstrap/scss/bootstrap";

.navLink {
    color: theme-color(secondary);
}

.navbar h2 {
    color: theme-color(light);
}

.program {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.programContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 10px;
    margin: 10px;
    img {
        max-height: 250px;
        margin: 5px;
    }
    p {
        text-align: justify;
        text-align-last: center;
    }
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }
}

.navPushRight {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.formContainer {
    width: 90%;
    margin: 30px;
}

.btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: theme-color(dark);
    background-color: theme-color(primary);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px theme-color(dark);
    margin: 50px 0;
    font-weight: bold;
}

.btn:hover {
    background-color: theme-color(secondary);
    color: theme-color(light);
}

.btn:active {
    background-color: theme-color(secondary);
    box-shadow: 0 5px theme-color(dark);
    transform: translateY(4px);
}

.watchlist {
    width: 50px;
    height: 50px;
    background: center / contain no-repeat;
}

.far {
    background-image: url("/build/far.png");
}

.fas {
    background-image: url("/build/fas.png");
}