body {
    background-color: lightgray;
}

$theme-colors: (
        "primary": #ce7aff,
        "secondary": #b319ff,
        "tertiary": #cc0685,
        "light": #ecc8ef,
        "dark": #42095e
);

@import "~bootstrap/scss/bootstrap";

.navLink {
    color: theme-color(secondary);
}

.navbar h2 {
    color: theme-color(light);
}

.program {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.programContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 10px;
    margin: 10px;
    img {
        max-height: 250px;
        margin: 5px;
    }
    p {
        text-align: justify;
        text-align-last: center;
    }
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }
}