<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <h2>Wild-Series</h2>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link navLink" href="/">Home</a>
        <a class="nav-link navLink" href="/programs">Programs</a>
        <a class="nav-link navLink" href="/categories">Categories</a>
    </div>
</nav>