<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <h2>Wild-Series</h2>
    <a class="nav-link navLink" href="/">Home</a>
    <a class="nav-link navLink" href="/programs">Programs</a>
    <a class="nav-link navLink" href="/categories">Categories</a>
    <div class="navPushRight">
        <a href="{{ path('season_index') }}">Admin - seasons</a>
        <a href="{{ path('episode_index') }}">Admin - episodes</a>
    </div>
</nav>